[submodule "liu-regex"]
	path = liu-regex
	url = git@github.com:yaokai-liu/Xnf.git
	branch = liu-regex
[submodule "meman"]
	path = meman
	url = git@github.com:yaokai-liu/meman.git
[submodule "xnf-json2C"]
	path = xnf-json2C
	url = git@github.com:yaokai-liu/xnf-json2C.git
[submodule "automaton/xLR"]
	path = automaton/xLR
	url = git@github.com:yaokai-liu/xLR.git
